
a{
    font-weight: bold;
}

.navbar{
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
}
#btn{
    margin-top: 8px;
    margin-left: 783px;
    border: none;
    height: 34px;
    background-color: navy;

}
#log{
    color: wheat;
}
#log:hover{
    color:navy;
}
#btn:hover{
    background-color: antiquewhite;
}

@media(max-width:420px){
    /* #profile{
        margin-left: 8px;
    } */
    #btn{
        margin-left: 10px;
    }
}