<app-header></app-header>

<div id="heading" class="row">
    <h1>COURSE REGISTRATION</h1>
</div>

<div class="container bg-light">
    <div class="row">
        <h2 class="reg">Registration</h2><br><br><br><br>
        <p>For all course enquires, please fill out the form and we’ll get back to you as soon as possible. 
            We’ll be happy to answer all of your questions and make sure you have a great career ahead.</p>


            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Register First!</strong> Then take an appointment to meet with us.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        <form [formGroup]="regForm" action="" style="margin-top: 3%;" (ngSubmit)="registration()">
            <div class="p-2">
                <label for=""><strong>Enter your name </strong></label><br>
                <input formControlName="uname" type="text" class="form-control">
            </div>
            <div class="text-danger" *ngIf="this.regForm.get('uname')?.errors && this.regForm.get('uname')?.touched">&nbsp;Invalid</div>


            <div class="p-2">
                <label for=""><strong>Email id</strong></label><br>
                <input formControlName="mail" type="email" class="form-control">
            </div>
            <div class="text-danger" *ngIf="this.regForm.get('mail')?.errors && this.regForm.get('mail')?.touched">&nbsp;Invalid email</div>

            <div class="p-2">
                <label for=""><strong>Highest Qualification</strong></label><br>
                <input formControlName="qual" type="text" class="form-control">
            </div>
            <div class="text-danger" *ngIf="this.regForm.get('qual')?.errors && this.regForm.get('qual')?.touched">&nbsp;Invalid</div>

            <div class="p-2">
                <label for=""><strong>Phone number</strong></label><br>
                <input formControlName="num" type="text" class="form-control">
            </div>
            <div class="text-danger" *ngIf="this.regForm.get('num')?.errors && this.regForm.get('num')?.touched">&nbsp;Invalid number</div>

            <div class="p-2">
                <label for=""><strong>Place(city/town)</strong></label><br>
                <input formControlName="loc" type="text" class="form-control">
            </div>
            <div class="text-danger" *ngIf="this.regForm.get('loc')?.errors && this.regForm.get('loc')?.touched">&nbsp;Invalid</div>

            <div class="p-2">
                <label for=""><strong>Course :</strong>&nbsp; (IELTS/OET/TOEFL/PTE/CBT/Eng Fluency/Prometric test/MOH/HAAD/RN-NCLEX) </label>
                <input formControlName="crs" type="text" class="form-control" placeholder="choose only one course">
            </div>
            <div class="text-danger" *ngIf="this.regForm.get('crs')?.errors && this.regForm.get('crs')?.touched">&nbsp;Invalid</div>
            <br>

            <!-- <div class="text-danger" *ngIf="this.regForm.get('crs')?.errors && this.regForm.get('crs')?.touched">&nbsp;Invalid</div> -->

            <div class="p-2">
                <label for=""><strong>Course Mode :</strong></label>&nbsp;
                <input  formControlName="mod" type="text" placeholder="choose online or offline">
            </div>
            <div class="text-danger" *ngIf="this.regForm.get('mod')?.errors && this.regForm.get('mod')?.touched">&nbsp;Invalid</div>


            <div class="p-2 text-center">
                <button type="submit"  class="btn btn-outline-success"><strong>Register</strong></button>
            </div><br><br><br>

            

            

 <!-- Button trigger modal -->
<button id="modb" type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Book for an appointment
  </button><br><br>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Booking is avaliable here</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        
        <div class="modal-body">
          <form action="" [formGroup]="bookForm">
            <label for="">Name of the candidate </label><br>
            <input formControlName="name" type="text" class="form-control"><br>
            <div class="text-danger" *ngIf="this.bookForm.get('name')?.errors && this.bookForm.get('name')?.touched">&nbsp;Invalid</div>


            <label for="">Location of Institute</label><br>
            <input formControlName="location" type="text" class="form-control"><br>
            <div class="text-danger" *ngIf="this.bookForm.get('location')?.errors && this.bookForm.get('location')?.touched">&nbsp;Invalid</div>

            <label for="">Date for appointment</label><br>
            <input formControlName="date" type="date" min="{{minDate}}" class="form-control"><br>
            <div class="text-danger" *ngIf="this.bookForm.get('date')?.errors && this.bookForm.get('date')?.touched">&nbsp;Invalid</div>

            <input formControlName="tym" type="time" class="form-control"><br>
            <div class="text-danger" *ngIf="this.bookForm.get('tym')?.errors && this.bookForm.get('tym')?.touched">&nbsp;Invalid</div>

            <label for="">Contact number</label><br>
            <input formControlName="number" type="text" class="form-control">
            <div class="text-danger" *ngIf="this.bookForm.get('number')?.errors && this.bookForm.get('number')?.touched">&nbsp;Invalid</div>


          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="book()" type="submit" class="btn btn-primary">Save </button>
        </div>
      </div>
    </div>
  </div>
        </form>
  


    </div>
</div>