<app-header></app-header>

<!-- dropdown button -->
<div class="crsbg">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          All Courses
        </button>
        <ul style="background-color: rgb(59, 2, 109);" class="dropdown-menu">
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">IELTS</a></li>
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">OET</a></li>
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">CBT</a></li>
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">NCLEX(RN)</a></li>
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">ACLS & BLS Coaching</a></li>
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">TOEFL</a></li>
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">Prometric Exam</a></li>
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">English Fluency</a></li>
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">Pearson Test</a></li>
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">MOH/DHA/HAAD</a></li>
          <li><a style="color:rgb(241, 241, 195) ;" class="dropdown-item" href="#">LEARN GERMAN</a></li>

        </ul>
      </div>
</div><br><br>


<!-- courses -->
<div class="container">
  <div class="row">
    <div class="columns col-lg-6 col-sm-12">
       <img src="./../../assets/IELTS.jpg" alt="">
    </div>
    <div class="columns col-lg-6 col-sm-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              IELTS Coaching by Professionals
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
            B-GHUD provides you with the best IELTS online/offline coaching in Kerala. International English Language Testing System (IELTS ) is regarded as the world’s most popular 
            English Language Proficiency Test. Intended for non-native speakers who are looking to study or work in an English-speaking environment, IELTS training is an internationally recognised system for testing English language ability in four categories:
            <strong>Listening, Writing, Reading & Speaking.</strong><br> There are two different types of IELTS test and once graded, your IELTS score is valid for two years.
            Academic IELTS is for international students who wish to study at a UK university or on other nations where English is the main language. IELTS, PTE, OET or TOEFL is mandatory to join an institute of higher education.
            General IELTS classes focus on English survival skills and social and workplace language. It is ideal for those who are planning to migrate to English-speaking countries such as Australia, Canada and New Zealand.          </div>
          </div>
        </div>
        </div>
    </div>
  </div><br><br>


  <div class="row">
    <div class="columns col-lg-6 col-sm-12">
       <img src="./../../assets/oet.jpg" alt="">
    </div>
    <div class="columns col-lg-6 col-sm-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              OET Exam Coaching
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              The OET is an ideal qualification for healthcare workers who hope to register and practice in the English-speaking world.OET is designed specifically 
              for the international health and social care industry and reflects real professional working scenarios, such as consulting with a patient or writing a referral letter.
               Our OET preparation course provides intensive training in medical English for workers including doctors, nurses, dentists, dietitians, pharmacists, occupational therapists, vets, and other health and social care professionals. <br>
               Already recognized by authorities in Australia, Dubai, New Zealand, and Singapore, the OET is now accepted in the UK by the Nursing and Midwifery Council (NMC) and the General Medical Council (GMC) as proof of English proficiency for registration purposes.           </div>
          </div>
        </div>
    </div>
  </div>
</div><br><br>


<div class="row">
  <div class="columns col-lg-6 col-sm-12">
     <img src="./../../assets/cbt.jpg" alt="">
  </div>
  <div class="columns col-lg-6 col-sm-12">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            CBT Coaching Centre
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            B-GHUD provides you with the best CBT online/offline coaching in Kerala, India. The Nursing and Midwifery Council (NMC) Test of Competence CBT exam divided into two parts, part – one Numeracy,
             15 Questions in 30 minutes, part-two Clinical, 100 questions in 2 1/2 hours. NMC CBT is intended for nurses trained outside the EU (European Union) and the European Economic Area seeking employment as a nurse in the UK. <br>
             CBT offline and online practice is being monitored by our trainers to ensure the candidates are able to use the resource and make the most out of it. 
             The practice of nursing or midwifery requires knowledge of the health needs of patients as well as an understanding of integrated holistic processes fundamental to professional practice. 
             The CBT includes items written at various cognitive levels, which are designed to test your knowledge, comprehension, application, analysis, synthesis and evaluation of professional nursing and midwifery practice.
          </div>
        </div>
      </div>
      </div>
  </div>
</div><br><br>


<div class="row">
  <div class="columns col-lg-6 col-sm-12">
    <img src="./../../assets/nclex.jpg" alt="">
  </div>
  <div class="columns col-lg-6 col-sm-12">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            NCLEX (RN) – Training
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            B-GHUD provides you with the best NCLEX-RN offline/online coaching center in Kerala, India. NCLEX-RN (National Council Licensure Examination of Registered Nurse)
             is a qualifying examination for the licensing of nurses in the USA and Canada. It is a computer adaptive test. The candidate must be a graduate of an accredited nursing school 
             and fluency in English is certainly required. Our experts who have passed NCLEX-RN and have at least 15 years of clinical experience will facilitate and motivate you to succeed in this prestigious 
             international examination. Even if you do not intend to go to the US or Canada, it would give you a cutting edge in the international healthcare field. It would be a bright idea for you to appear in this examination, even if you are inexperienced in nursing. <br>
             All nurses must pass the NCLEX-RN exam in order to receive a nursing license in the United States of America. The National Council Licensure Examination is designed to measure the competence and skills needed to perform safely and effectively as a newly licensed, entry-level nurse.
          </div>
        </div>
      </div>
      </div>
  </div>
</div><br><br>


<div class="row">
  <div class="columns col-lg-6 col-sm-12">
      <img src="./../../assets/toefl.jpg" alt="">
  </div>
  <div class="columns col-lg-6 col-sm-12">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            TOEFL iBT® Preparation Course Online
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            The TOEFL exam is a test recognized by more than 8,500 study centres, universities, and organizations worldwide.  More than 130 countries including Australia, Canada, the United Kingdom, and the United 
            States trust this prestigious exam to evaluate the English level of the students.It can be taken at ETS approved centres around the world, and the price is around 240 US Dollars, although it may vary from country to country.

            Its great importance resides in the fact that the vast majority of colleges in the United States require the TOEFL exam, with scores between 60 to 80 points, to admit students who do not have English as their native language.
          </div>
        </div>
      </div>
      </div>
  </div>
</div><br><br>


<div class="row">
  <div class="columns col-lg-6 col-sm-12">
     <img src="./../../assets/prometric.jpg" alt="">
  </div>
  <div class="columns col-lg-6 col-sm-12">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Prometric Exam Coaching for Nurses
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            B-GHUD provides you with the best Prometric online/offline coaching in Kerala, India. The Prometric Exam for Nurses is an assessment and qualifying exam for
             nurses who want to work in the Kingdom of Saudi Arabia. Currently, a candidate is allowed three attempts to pass. If not passing the first and second attempts, you may apply 
             to SCFHS for reactivation of your eligibility number to obtain a third and last attempt. The written exam consists of 60 multiple-choice questions. Candidates are given 90 minutes to 
             take the exam. The current exam fees are USD: 90 (Rs: 4500) and the exam is scheduled in Trivandrum, Kerala every week Monday to Friday. Students need to register for the exam one week before their intended date. 
             There is no fee to reschedule or cancel an appointment if the change is made more than 2 days before your appointment. If an appointment is cancelled in less than 2 calendar days of your appointment, you will forfeit your entire fee.          </div>
        </div>
      </div>
      </div>
  </div>
</div><br><br>


<div class="row">
  <div class="columns col-lg-6 col-sm-12">
      <img src="./../../assets/fluency.jpg" alt="">
  </div>
  <div class="columns col-lg-6 col-sm-12">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            English Fluency Courses
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            B-GHUD  provides you with the best English Fluency online/offline coaching in Kerala, India. Many nuances trouble one when you attempt to speak the universal language,
             English, proficiently. At a time when this has become as inevitable as your academic qualification, failure to ensure your fluency in English will cost you much. This language 
             is flooded with thousands of idioms, colloquialisms and strange exceptions to the established grammar rules which would baffle a non-native speaker. Our English Fluency class is a
              great opportunity which provides exposure to this world of English. Be sure that this will prepare you to be confident in every twist and turn that the language throws at you and will help you unlock
               the next level of fluency through our comprehensive coverage of all modules of language. <br> 
               Connect with New People: Learning English as a foreign language will allow you to communicate with native speakers and ESL (English as a Second language). You will be able to gain a new perspective of the world, enhance your ability to communicate and understand yourself and others better.
               The Language of Business:  There’s a reason why many call English the international language of business. Walk into any job interview at a Fortune 500 company, and you’ll quickly understand why. 
          </div>
        </div>
      </div>
      </div>
  </div>
</div><br><br>



<div class="row">
  <div class="columns col-lg-6 col-sm-12">
     <img src="./../../assets/pearson.jpg" alt="">
  </div>
  <div class="columns col-lg-6 col-sm-12">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Pearson Test of English
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Pearson Test of English- Academic is a computer-based academic English language test aimed at non-native English speakers wanting to study abroad. It tests the proficiency of 
            a candidate in different modules including Reading, Writing, Listening and Speaking in which Questions often test 2 skills together, such as listening and reading or reading and speaking. 
            One needs to polish his four of the skills. <br>In the case of IELTS the speaking part takes the form of an interview, while in the PTE, one simply speaks to the computer. Since PTE is a computer-based test, the chances of human bias while evaluating is almost negligible.

            Determined practice and the right guidance can help you succeed in this exam which is not a herculean task given the candidate utilizes the assistance of a well organized training institute. B-GHUD has a dedicated PTE wing which has been in action for several years producing unparalleled results. The results of our successful candidates are our inspiration in our path ahead.
          </div>
        </div>
      </div>
      </div>
  </div>
</div><br><br>


<div class="row">
  <div class="columns col-lg-6 col-sm-12">
     <img src="./../../assets/moh.jpg" alt="">
  </div>
  <div class="columns col-lg-6 col-sm-12">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            MOH/DHA/HAAD
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            B-GHUD is a leading MOH Coaching Centre In Kerala. The Ministry of Health (MOH) and Prevention is the ministry of the Government of the United Arab Emirates which 
            is responsible for the implementation of health care policy in all areas of technical, material and coordination with the Ministries of State and cooperation with the private 
            sector in health locally and internationally. <br> HAAD licensing is very important to the delivery of high-quality healthcare services. HAAD shapes the regulatory framework for the health system,
             sets and inspects against regulations and enforce standards. HAAD examination also gauges the theoretical capability of healthcare professionals such as doctors and pharmacists who are aspiring to work in UAE. <br>
             Healthcare professionals applying for the license are required to pass the DHA assessment to acquire professional licence and practice in Dubai. The DHA assessment can be either computer-based or oral depending on the health professional’s category. Healthcare in Dubai can be divided into two different sectors: public and private. 
          </div>
        </div>
      </div>
      </div>
  </div>
</div><br><br>


<div class="row">
  <div class="columns col-lg-6 col-sm-12">
     <img src="./../../assets/toefl.jpg" alt="">
  </div>
  <div class="columns col-lg-6 col-sm-12">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            LEARN GERMAN
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            B-GHUD has started classes for German language. The thriving, unified Germany has plenty of job opportunities for the skilled and the ambitious. Knowledge of German language would only make your dream of a well-paid, prestigious career in the heart of Europe all the more realistic.
            All the four levels of German, A1, A2, B1, B2 are taught at B-GHUD by highly qualified faculty members. Thus, your success in learning German is assured at B-GHUD.
            
            We offer flexible timings and duration for each level of German. Our fee is the most reasonable in Kerala. 
          </div>
        </div>
      </div>
      </div>
  </div>
</div><br><br>


<div class="row">
  <div class="columns col-lg-6 col-sm-12">
       <img src="./../../assets/moh.jpg" alt="">
  </div>
  <div class="columns col-lg-6 col-sm-12">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ACLS and BLS Coaching in Kerala
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            GET TRAINED TO BE A LIFESAVER. Master the Most Important Life-Saving Techniques with our ACLS and BLS training at B-GHUD Academy a requirement for nurses and doctors. <br>
            Advanced Cardiovascular Life Support, also known as ACLS, is a protocol for managing patients who encounter severe medical emergencies such as cardiac arrest. The ACLS course teaches healthcare professionals to diagnose and administer care for an adult victim of cardiac and respiratory arrest as well as any other cardio-pulmonary emergencies. <br>
            Basic Life Support, also known as BLS, focuses on the stabilization of a patient before and after an emergency. The BLS Course is designed to enable healthcare professionals to recognize several life-threatening emergencies, provide CPR, use an AED, and relieve choking in a safe, timely, and effective manner.
          </div>
        </div>
      </div>
      </div>
  </div>
</div><br><br>



</div>


















<app-footer></app-footer>
