<app-header></app-header>

<div class="container w-50 bg-light" *ngIf="emsg">
    <div class="row">
        <div class="col">
            <img id="empty" src="https://thumbs.gfycat.com/SplendidIdenticalIndianrockpython-size_restricted.gif" alt=""><br>
            <h1 id="emptyhd">You haven't register ...Please register for your course to view your profile</h1>
        </div>
    </div>
</div>

<div class="container w-50 bg-light" >
    <div class="row"  *ngIf="profile.length!=0" >

        
            <img src="./../../assets/profile.webp" alt=""><br><br>
            <h1>Your Profile</h1><br><br>
            <!-- <h4><strong>Name :  </strong></h4><br><br>
            <h4><strong>Email Id:  </strong></h4><br><br>
            <h4><strong>Mobile no:   </strong></h4><br><br>
            <h4><strong>Qualification:   </strong></h4><br><br>
            <h4><strong>Course registered:  </strong></h4><br><br>
            <h4><strong>Course mode:   </strong></h4> -->
            <!-- <div class="col" *ngFor="let profilee of profile"> -->
                <div class="col" >

                <table class="table border border-dark mt-4 ">
                    <tbody>
                        <tr *ngFor="let profilee of profile">
                            <td><strong>Name of the Student :</strong></td>
                            <td>{{profilee.username}}</td>
                        </tr>
                        <tr *ngFor="let profilee of profile">
                            <td><strong>Email ID :</strong></td>
                            <td>{{profilee.mail}]</td>
                        </tr>
                        <tr *ngFor="let profilee of profile">
                            <td><strong>Qualification :</strong></td>
                            <td>{{profilee.qualification}}</td>
                        </tr>
                        <tr *ngFor="let profilee of profile">
                            <td><strong>Phone No.</strong></td>
                            <td>{{profilee.number}}</td>
                        </tr>
                        <tr *ngFor="let profilee of profile">
                            <td><strong>Student location :</strong></td>
                            <td>{{profilee.place}}</td>
                        </tr>
                        <tr *ngFor="let profilee of profile">
                            <td><strong>Course registered</strong></td>
                            <td>{{profilee.course}}</td>
                        </tr>
                        <tr *ngFor="let profilee of profile">
                            <td><strong>Coursee mode :</strong></td>
                            <td>{{profilee.mode}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div><br><br>


<app-footer></app-footer>