<app-header></app-header>

<!-- carousel -->
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height: 600px;" src="./../../assets/caro.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-non d-md-block">
          <h1 class="ch1">Best IELTS Institute in Kerala</h1>
          <p class="cl1">THE ONLY INSTITUTE IN KERALA WHICH COMPLETED</p>
          <P class="cl2">25 Year of producing excellent IELTS results</P><br><br>
        </div>
      </div>
      <div class="carousel-item">
        <img style="height: 600px ;" src="./../../assets/caro1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1 class="ch1">OET Coaching Centre</h1>
          <p class="cc1">PLATINUM MEMBER OF BOTH IDP & BRITISH COUNCIL</p>
          <p class="cl2">Learn from the authors of 7 <br>best sellers on IELTS & OET</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br><br>

  <!-- first heading -->
  <div class="container">
    <div class="row">
      <div style="width:825px ;" class="columns col-lg-6 col-md-12">
        <h1 class="hd1">Top IELTS and OET Institute</h1><br>
        <p>Instituted with the vision and conviction of our Director Mr. George John, that takes its fountain from Nehru’s thought-provoking statement: 
          “English has come to stay”, our highly qualified and dedicated staff and top-notch classroom facilities ensure a high-end training and success 
          for IELTS, OET, CBT, MOH, DHA, HAAD and English Fluency Classes to the discerning aspirants. B-GHUD ACADEMY, can boast of the best teacher-student ratio in 
          the industry in India. We have been following a scientific pedagogical approach that deeply satisfies the realistic demands of aspirants of study abroad, jobs, and migration. <br><br>
          In addition, a large panel of British Council and IDP certified trainers further ensures individual attention on each module of IELTS, OET, CBT, MOH, DHA, HAAD tests. We, are
           fully committed to living up to the realistic objectives of our candidates with our innovative ideas on the training methodologies and unparalleled conducive learning environment 
           that make it the ultimate destination for language learning in Ernakulam, Alappuzha, and Kottayam.</p>
      </div>
      <div style="width:200px ;" class="columns col-lg-6 col-md-12">
        <img style="align-items: center; height:500px;" src="./../../assets/man.png" alt="">
      </div>
    </div>
  </div><br>

  <!-- 2 cards -->
  <div class="container">
    <div class="row">
      <div id="box1" class="columns col-lg-6 col-md-12 p-5">
        <h2>Why we are the Top IELTS Coaching Centre in Kerala?</h2><br><br>
        <p>IDP and British Council, co-owners of IELTS, have acknowledged the quality and effectiveness of our training and have awarded us Platinum Plus status and national recognition as member associates thus makes us the Best IELTS institute in Mavelikara, Kerala.</p>
        <button>Read more</button>
      </div>
      <div id="box2" class="columns col-lg-6 col-md-12 p-5">
        <h2>Online/ Offline Classroom for IELTS, OET, CBT in Kerala</h2><br><br>
        <p>Online and Offline Classroom facilities for IELTS, OET, MOH, DHA, HAAD, CBT Coaching Centre with state-of-the-art technologies and support staff.</p><br><br>
        <button>Contact us</button>
      </div>
    </div>
  </div><br>

  <!-- certificates -->
  <div class="container">
    <div class="row text-center">
      <p style="font-size :35px;    font-family: 'Lora', serif; ">We have the best Educators in India Certified by</p>
      <img id="cert" src="./../../assets/certifications1.png" alt="">
    </div>
  </div><br>


<!-- about us -->
<div class="container">
  <h1 style="font-family: 'Abril Fatface', cursive;">About Us</h1><br>
  <div class="row">
    <div class="columns col-lg-6 col-md-12">
        <img id="abt1" src="./../../assets/abt1.jpg" alt="">
    </div>
    <div class="columns col-lg-6 col-md-12"><br>
      <h1>What we do?</h1>
      <p>B-GHUD has also earned a reputation for the laudable results we have produced in DHA, HAAD, MOH, NCLEX- RN, (USA) & PROMETRIC (Saudi, Qatar & Oman). 
        It is with pride we state that our students have become part of the workforce in almost all the developed nations of the world. You can join our ONLINE CLASSES now. It is on a one-on-one basics. <br><br>
        Instituted with the vision and conviction of our Director Mr. George John, that takes its fountain from Nehru’s thought-provoking statement: “English has come to stay”, our highly qualified and 
        dedicated staff and top-notch classroom facilities ensure a high-end training and success to discerning aspirants. B-GHUD ACADEMY can boast of the best teacher-student ratio in the industry in India. 
        We have been following a scientific pedagogical approach that deeply satisfies the realistic demands of aspirants of study abroad, job, and migration. <br><br>
        In addition, a large panel of British Council and IDP certified trainers further ensures individual attention on each module of these tests. At B- GHUD, we are fully committed to living up to the 
        realistic objectives of our candidates with our innovative ideas on the training methodologies and unparalleled conducive learning environment that make it the ultimate destination for language learning.</p>
    </div>
  </div><br><br>

  <div id="abt2" class="row">
    <div class="columns col-lg-3 col-md-6 col-sm-12 p-5 text-center">
      <h2>1250+</h2>
      <h5>Students Enrolled</h5>
    </div>
    <div class="columns col-lg-3 col-md-6 col-sm-12 p-5 text-center">
      <h2>890+</h2>
      <h5>Courses Uploaded</h5>
    </div>
    <div class="columns col-lg-3 col-md-6 col-sm-12 p-5 text-center">
      <h2>512+</h2>
      <h5>People certifie</h5>
    </div>
    <div class="columns col-lg-3 col-md-6 col-sm-12 p-5 text-center">
      <h2>120+</h2>
      <h5>Global Teachers</h5>
    </div>
</div><br><br>

<div class="row">
  <div class="columns col-lg-6 col-md-12">
       <h1>How B-GHUD earned its reputation?</h1><br>
       <p>B -GHUD is a conglomerate and it is considered as the most sought after institute for English in South India, 
        to score a high band in most global exams in English. It has been awarded the prestigious Platinum Plus Membership of both the British
         Council & IDP for 5 years consecutively. This is our 25th year of producing excellent results on all the courses we undertake. We are
          known for imparting the best quality training in IELTS, OET, PTE & TOEFL. In addition, we have been fostering quality training on English Fluency, 
          Group Discussion, and Interview Skills (From 9 am to 7 pm) for over two decades. Our ONLINE CLASSES on all the above exams also attract quite a good number of learners 
          and our commendable results in the above-mentioned exams bearing testimony to the quality of our training, and the growing levels of trust the learners have with us. 
          (Our ONLINE CLASSES are from 9 am to 9 pm. With an unbeatable track record of producing excellent results in the exams for the last 25 years, we must add that we are the pioneer 
          in publishing six thoroughly researched, exhaustive books on IELTS and OET. Our best sellers are “IELTS & TOEFL MADE EASY”, “WRITING MADE EASY”, “OET WRITING MADE EASY” & ” OET GRAMMAR”.
           They are available in all the Gulf Countries, Singapore, Malaysia, and India.</p>
  </div>
  <div class="columns col-lg-6 col-md-12">
    <img id="abt3" src="./../../assets/abt2.jpg" alt="">
  </div>
</div>

</div><br><br>

<!-- contact  -->
<div class="container">
  <h1 style="font-family: 'Abril Fatface', cursive;">Contact Us</h1><br>

  <div class="row">
    <div class="columns col-lg-6 col-sm-12">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Mavelikara, Kerala</h5><br>
          <h6 class="card-subtitle mb-2 text-muted">Location : Manapallil Plaza, Puthiyacavu, Mavelikara.</h6><br>
          <h6 class="card-subtitle mb-2 text-muted">Email : info@bghud.com</h6><br>
          <h6 class="card-subtitle mb-2 text-muted">Phone : +91 479 2303488, 94977 86999, 7736978420</h6>

        </div>
      </div>
    </div>
    <div class="columns col-lg-6 col-sm-12">
      <div class="card" style="width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Kochi, Kerala</h5><br>
          <h6 class="card-subtitle mb-2 text-muted">Location : Sana Tower, Opp. Avenue Regent Hotel, Jos Junction, Ernakulam</h6><br>
          <h6 class="card-subtitle mb-2 text-muted">Email : mail.kochi@bghud.com</h6><br>
          <h6 class="card-subtitle mb-2 text-muted">Phone : +91 8089680908 , +918848527365</h6>

        </div>
      </div>

    </div>
  </div>
</div><br>









<app-footer></app-footer>