<div class="container">
    <img id="lh" src="./../../assets/4k-4096-2160-res-600-_1_.png" alt="">
    <div class="row">
        <div class="column col-lg-6 col-sm-12">
            <img id="man" src="./../../assets/6101668.jpg" alt="">
        </div>
        <div class="column col-lg-6 col-sm-12">
            <h2>Register for a new account </h2><br>
            <form action="" [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="p-2">
                    <input formControlName="uname" type="text" placeholder="Enter your name" class="form-control">
                </div>
                <div class="text-danger" *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">&nbsp; <p class="text-danger">*Required field</p> </div>

                <div class="p-2">
                    <input formControlName="mail" type="email" placeholder="Enter email id" class="form-control">
                </div>
                <div class="text-danger" *ngIf="this.registerForm.get('mail')?.errors && this.registerForm.get('mail')?.touched">&nbsp;<p class="text-danger">*Required field</p></div>

                <div class="p-2">
                    <input formControlName="num" type="text" placeholder="Mobile number (optional)" class="form-control">
                </div>
                <div class="text-danger" *ngIf="this.registerForm.get('num')?.errors && this.registerForm.get('num')?.touched">&nbsp;Invalid</div>

                <div class="p-2">
                    <input formControlName="pswd" type="password" placeholder="Create a new password" class="form-control">
                </div>
                <div class="text-danger" *ngIf="this.registerForm.get('pswd')?.errors && this.registerForm.get('pswd')?.touched">&nbsp;<p class="text-danger">*Required field</p></div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-dark">Register Now</button>
                </div>
            </form>
        </div>
    </div>
</div>

